/*Especificidad: 001*/
p{
  text-align: justify;
  padding: 1em;
 }
/*Especificidad: 001*/
table {
  width: 50%;
  border: 0.01em solid #000;
 }
 /*Especificidad: 001*/
th, td {
    width: 25%;
    text-align: left;
    border: 0.01em solid #000;
    padding: 0.3em;
    caption-side: top;
 }
 /*Especificidad: 001*/
 caption {
  padding: 0.3em;
  background-color: #9C3C3C;
  color:#fff;
  font-weight: bold;
}
/*Especificidad: 001*/
th{
  color:#000;
  background: #F0C9C9;
}
/*Especificidad: 001*/
footer{
  grid-column-start: middle;
  grid-column-end: end;
  grid-row-start: second-line;
  grid-row-end: third-line;
  text-align: right;
}
/*Especificidad: 001*/
section{
  grid-column: first / middle;
  grid-row: second-line / third-line;
  text-align: justify;
}
/*Especificidad: 001*/
video{
  max-width: 100%;
  height: auto;
}
/*Especificidad: 001*/
li{
  padding-top: 0.7em;
}