/*Especificidad: 001*/
body {
  display: grid;
  grid-template-columns: [first] 50% [middle] 50% [end];
  grid-template-rows: [row1-start] 30% [second-line] 40% [third-line] 30% [last-line];
  font-family: Tahoma, sans-serif;
  color: #000000;
  background-color: #fff;
  }
/*Especificidad: 001*/
h1 {
  grid-column: first / span 2;
  grid-row: row1-start;
  color: #fff;    
  background-color:#9C3C3C; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;     
  }
/*Especificidad: 001*/
nav{
  grid-column: first / span 3;
  grid-row: last-line;
  border: 3px solid #9C3C3C;
}
section{
  text-align: justify;
  padding: 1em;
  grid-column: first / middle;
  grid-row: second-line / third-line;
  }