/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  color: #000000;
  background-color: #fff;
  }
/*Especificidad: 001*/
h1 {
  color: #4214EB;    
  }
img {
  width: 100%; /*Problema que se muestre más grande que el tamaño real, se pixelará*/
  height: auto;
}
video{
  max-width: 100%;
  height: auto;
}

li{
	padding-bottom: 2ex;
}