/*Especificidad: 001*/
ul{
    list-style-type: circle;
    padding-bottom: 2ex;
    line-height : 25px;
  }
/*Especificidad: 002*/
nav>ul{
  list-style-type: disc;
  }
/*Especificidad: 001*/
section{
  text-align: justify;
  padding: 1em;
  grid-column: first / middle;
  grid-row: second-line / third-line;
  }
/*Especificidad: 001*/
footer{
  grid-column-start: auto;
  grid-column-end: end;
  grid-row-start: second-line;
  grid-row-end: third-line;
  text-align: right;
}
/*Especificidad: 002*/
nav>li{
  padding-top: 0.7em;
}