/*Especificidad: 001*/
body {
  display: grid;
  grid-template-columns: [first] 70% [middle] 30% [end];
  grid-template-rows: [row1-start] 30% [second-line] 40% [third-line] 30% [last-line];
  font-family: Tahoma, sans-serif;
  color: #000000;
  background-color: #fff;
  margin-left: 2em;   
  margin-right: 2em; 
  }
/*Especificidad: 001*/
h1 {
  grid-column: first / span 2;
  grid-row: row1-start;
  color: #fff;    
  background-color:#9C3C3C; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;     
}
/*Especificidad: 001*/
p{
  text-align: justify;
  padding: 1em;
 }
/*Especificidad: 001*/
table {
  width: 50%;
  border: 1px solid #000;
 }
 /*Especificidad: 001*/
th, td {
    width: 25%;
    text-align: left;
    border: 1px solid #000;
    padding: 0.3em;
    caption-side: top;
 }
 /*Especificidad: 001*/
 caption {
  padding: 0.3em;
  background-color: #9C3C3C;
  color:#fff;
  font-weight: bold;
}
/*Especificidad: 001*/
th{
  background: #F0C9C9;
}
/*Especificidad: 001*/
nav{
  border: 3px solid #9C3C3C;
  grid-column: first / span 3;
  grid-row: last-line;
}
footer{
  grid-column-start: auto;
  grid-column-end: end;
  grid-row-start: second-line;
  grid-row-end: third-line;
  text-align: right;
}
section{
  grid-column: first / middle;
  grid-row: second-line / third-line;
  text-align: justify;
}