/*****************************
/* Autor: Miriam González Alonso
/* descripcion
/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  color: black;
  background-color: #f8efca;
  margin: 2em;
}
/*Especificidad: 001*/
h1 {
  color: #fff;    
  background-color:#00148a; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;     
}

/*Especificidad: 001*/
h2{
  background-color: #fff;
  color: #365fdf;
  text-align: center;
  padding: 0.5em; 
}

/*Especificidad: 001*/
section{
  margin-top: 2em;
  margin-left: 6em;
  margin-right: 6em;
}

p{
  margin-top: 2em
}

/*Especificidad: 001*/
img{
  margin-right: 3em;
}