/*****************************
/* Autor: Miriam González Alonso
/* Archivo de prueba para familiarizarme con el uso de css
*****************************/
/*Especificidad: 001*/
body{
    color:black;
    background-color: white;
}

/*Especificidad: 001*/
nav {
    background-color: #ff5f3c;
    /*color está heredado de body*/
}

/*Especificidad: 001*/
h1{
    background-color: #155263;
    /*color está heredado de body*/
}

/*Especificidad: 001*/
main{
    padding:2rem
}

/*Especificidad: 011*/
main:nth-child(3) {
    background-color: #ff9a3c
    /*color está heredado de body*/
}

/*Especificidad: 002*/
main h2{
    color: green;
    /*background-color está heredado de body*/
}

/*Especificidad: 011*/
p:nth-child(3){
    font-weight: bold;
}

/*Especificidad: 002*/
aside video{
    width: 40rem;
}

/*Especificidad: 002*/
aside a {
    color: blue;
    /*background-color está heredado de body*/
}

/*Especificidad: 002*/
main h3{
    color:white;
    /*background-color está heredado de body*/
}

/*Especificidad: 001*/
footer{
    font-weight: bold;
}

/*Especificidad: 001*/
body{
    margin-left:3rem;
    margin-right:3rem;
}

/*Especificidad: 001*/
h1{
    border:2px solid black;
    padding: 5px;
    margin: 6px;
}

/*Especificidad: 001*/
table{
    border-collapse: collapse;
}

/*Especificidad: 012*/
tr td:first-child{
    text-align: center;
}

/*Especificidad: 001*/
th,td{
    border: 2px solid black;
    padding:0.5rem;
}

/*Especificidad: 012*/
ul li:nth-child(2){
    font-weight: bold;
}