/*****************************
/* Autor: Miriam Gonz치lez Alonso
/* Hoja de estilo del ejercicio 11 Tarea 3 de la pr치ctica 3
*****************************/
/*Especificidad: 001*/
body {
    color: #155263;
    background-color: #fffbcb;
    font-family: 'Times New Roman', Times, serif;
}

/*Especificidad: 001*/
h1 {
    background-color: #ffc93c;
    /*color est치 heredado de body*/
    padding: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*Especificidad: 001*/
input {
    padding: 0.5em;
    margin-left: 1em;
    margin-top:0.5em;
    background-color: #ffc93c;
    color: black;
}

/*Especificidad: 001*/
h1, section {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/*Especificidad: 001*/
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #123560;
    /*background-color est치 heredado de body*/
}

/*Especificidad: 001*/
img {
    margin-top: 2em;
    max-width: 50%;
    height: auto;
}