/*****************************
/* Autor: Miriam González Alonso
/* hoja de estilos del ejercicio 6

/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  color: #155263;
  background-color: #fff;
}

/*Especificidad: 001*/
h1 {
  background-color: #ffc93c;
  /*color está heredado de body*/
  padding: 1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*Especificidad: 001*/
nav {
  background-color: #ff6f3c;
  color: black;
  padding: 1em;
  line-height: 2em;
}

/*Especificidad: 002*/
nav a {
  /*background color está heredado de nav*/
  color: black;
  text-decoration-line: none;
  padding: 0.5em;
}

/*Especificidad: 012*/
nav a:hover {
  color: black;
  background-color: #ffc93c;
}

/*Especificidad: 011*/
button[type="submit"], input[type="submit"]{
  margin: 2em;
  padding: 0.5em;
  background-color: #ffc93c;
  color: black;
}