/*****************************
/* Autor: Miriam González Alonso
/* Hoja de estilo de la Calculadora RPN

/*Especificidad: 001*/
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #818181;
  background-color: #fff;
}


/*Especificidad: 001*/
h1 {
  color: #fff;    
  background-color:#FF5733; 
  text-transform: uppercase;
}

/*Especificidad: 001*/
form{
  display:grid;
  grid-template-columns: repeat(4, 5em);
  column-gap: 1em;
  row-gap: 1em;
  padding: 2em;
  width: 23em;
  background-color: rgb(30, 5, 132);
  color: black;
}

label{
  grid-column:1/5;
  width: 100%;
  font-size: 2em;
  color:white;
  background-color: rgb(30, 5, 132);
}

input {
  padding: 1em;
}

input[type=button] {
  background-color: rgb(246, 245, 245);
  color: black;
  font-size: 100%;
  height: 90%;
}

textarea {
  font-size: 1.5em;
  grid-column:1/5;
  width: 98%;
  height: 10em;
  text-align: left;
  resize: none;
}

input[value="0"],input[value="1"],input[value="2"],input[value="3"],input[value="4"],
input[value="5"],input[value="6"],input[value="7"],input[value="8"],input[value="9"],
input[value="."] {
  font-weight: bold;
}

input[value="Enter"]{
  grid-column:3/5;
}


