/*****************************
/* Autor: Miriam González Alonso
/* Hoja de estilo del ejercicio 11 Tarea 1 de la práctica 3
*****************************/
/*Especificidad: 001*/
body {
    color: #155263;
    background-color: #fffbcb;
    font-family: 'Times New Roman', Times, serif;
}

/*Especificidad: 001*/
a {
    /*background-color está heredado de body*/
    color: #155263;
}

/*Especificidad: 001*/
h1 {
    background-color: #ffc93c;
    /*color está heredado de body*/
    padding: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*Especificidad: 001*/
input {
    padding: 0.5em;
    margin-left: 1em;
    margin-top:0.5em;
    background-color: #ffc93c;
    color: black;
}

/*Especificidad: 001*/
h1 {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/*Especificidad: 001*/
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #123560;
    /*background-color está heredado de body*/
}

/*Especificidad: 001*/
section {
    margin-left: 1em;
}